<!DOCTYPE html>
<html>

<head>
    <title>Meadowlark Travel</title>
</head>

<body>
    <header><img src="/img/logo.png" alt="Meadowlark Travel logo" style="width: 100px;" /></header>
    <div style="width: 90%; margin: 0 auto; text-align: center;">
        {{{body}}}
    </div>
</body>

</html>